.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: #F5F5FB;
}

.login-top-left-logo {
    position: fixed;
    top: 0;
    left: 0;
    cursor: pointer;
}

.logo-image {
    width: 150px;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 20px;
    width: 350px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
}

.login-text-large {
    font-size: 36px;
    font-weight: 700;
    color: #000;
    margin-bottom: 30px;
}

.login-input-group {
    margin-bottom: 10px;
}

.login-input-text {
    width: 100%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 10px;
    background-color: #F5F5FB;
}

.login-input-text:focus {
    border-color: #66afe9;
    outline: none;
}

.login-button {
    width: 200px;
    height: 50px;
    border-radius: 10px;
    background: rgba(34, 151, 153, 0.33);
    color: #000;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
}

.login-button:hover {
    background-color: #2E9D9F;
    transition: background-color 1s;
}

.login-link {
    color: #1D7F81;
    text-decoration: none;
    margin-top: 10px;
}

.login-link:hover, .login-link:active {
    color: #1D7F81;
}

.login-divider {
    height: 1px;
    background-color: #1D7F81;
    width: 90%;
    margin: 20px auto;
}
